.react {
  color: red;
}
.container {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border: 1px solid #000;
}
.logo {
  width: 150px;
  padding: 10px;
}
.nav-items > ul {
  display: flex;
  list-style: none;

}
.nav-items > ul > li{
  padding: 10px;
}
.body {
  padding: 20px;
}

.res-card  {
  width: 200px;
  height: 300px;
  border: 1px solid #fff;
  padding: 5px;
}
.res-card:hover{
  border: 1px solid #000;
  padding: 5px;
}
.res-logo {
  width: 100%;

}
h4 {
  height: 0.2px;
}
.res-container {
  display: flex;
    margin: 10px;
    flex-wrap: wrap;
}